# Elixir and Erlang version
elixir_version=1.14  # Specify the Elixir version
erlang_version=26.0 # Specify the Erlang version

# Always rebuild from scratch on every deploy
always_rebuild=true

# Set the MIX_ENV environment variable
export MIX_ENV=prod

# Invoke assets.deploy defined in your mix.exs to deploy assets with esbuild
# Note we nuke the esbuild executable from the image
hook_post_compile="eval mix deps.get && mix assets.deploy && rm -f _build/esbuild*"
